.app {
  text-align: center;
  .title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .boardcontainer {
    display: flex;
    justify-content: space-evenly;
  }
  .logcontainer {
    overflow: scroll;
    width: 400px;
    height: 200px;
    border: 4px solid black;
  }
  .charcontainer {
    width: 400px;
    height: 200px;
    border: 4px solid black;
    div {
      display: flex;
      flex-direction: column;
    }
  }
}
